doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='../stylesheets/loginForm.css')
  title LOGIN
#formDiv
  center
    h1 LOGIN
  form#formData(action='/profile' method='POST')
    label(for='email') EMAIL:
    br
    input#email(type='text' name='email' placeholder='Enter your email')
    br
    if errorInput === "email"
        p(style={"color":"red","font-weight":"bold","text-decoration":"underline"})   #{message}
    endif
    label(for='password') PASSWORD:
    br
    input#password(type='password' name='password' placeholder='Enter your password')
    br
    if errorInput === "password"
        p(style={"color":"red","font-weight":"bold","text-decoration":"underline"})   #{message} 
    endif
    input#loginButton(type='submit' value='LOGIN')
    br
    input#clearButton(type='button' value='CLEAR')
script.
  document.getElementById("clearButton").onclick = function(){
  window.location.reload(true)
  }
