#formDiv{
    background-color: lightblue;
    margin: 6rem 20rem;
    padding: 0.3rem;
    border: 2px solid black;
}

#formData{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 12rem;
    margin-bottom: 3rem;
}

label{
    margin-left: 6px;
}

input{
    width: 300px;
    height: 30px;
    border-radius: 10px;
    margin-bottom: 10px;
}

#registerButton{
    background-color: green;
    font-weight: bold;
}

#clearButton{
    background-color: darkgray;
    font-weight: bold
}